.App {
  text-align: center;
}

.error-message {
  font-size: 32px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-message-container {
  background-color: #282c34;
  min-height: 100vh;
  width:100%;
}